.header {
  font-size: 12px;
}

.header h1 {
  font-size: 2em;
}

.parent {
  width: 500px;
  height: 500px;
}

.child {
  width: 50%;
  height: 50%;
}

#height-example {
  min-width: 100px;
  max-width: 500px;
}
