.header {
  font-size: 12px;
}

.header h1 {
  font-size: 2em;
}

.parent {
  width: 500px;
  height: 500px;
}

.child {
  width: 50%;
  height: 50%;
}

#relative-width-example {
  min-width: 100px;
  max-width: 500px;
}

#img-container {
  width: 50%;
  height: 500px; /*or any fixed*/
  overflow: hidden;
}

#img-container img {
  max-width: 100%;
  height: auto;
  display: block;
}

#bg-img {
  background-size: cover;
}

@media only screen and (max-width: 480px) {
  body {
    font-size: 12px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  /*styles go here*/
}
